allow-hotplug eth0
iface eth0 inet static
address {{ hostvars[item]['ansible_host'] }}
netmask {{ hostvars[item]['eth0_netmask'] }}
gateway {{ hostvars[item]['eth0_gateway'] }}
hwaddress ether {{ hostvars[item]['eth0_ether'] }}
dns-nameservers {{ hostvars[item]['dns_nameserver1'] }} {{ hostvars[item]['dns_nameserver2'] }}